.success {
    color: greenyellow;
}

.error {
    color: red;
}

#pagination {
    position: absolute;
    right: 0;
    font-size: 30px;
}

.form-control {
    text-align: right;
}

#cartWrapper {
    text-align: right;
}

#cartDisplay {
    display: inline-block;
}

#phoneDescription {
    margin-left: 10px;
    width: 300px;
    margin-right: 50px;
}

#phoneInfo {
    margin-top: 50px;
}

#adminButtonPanel {
    display: flex;
    justify-content: space-between;
    width: 100px;
}